/RubikCube/build/
/RubikCube/dist/
/RubikCube/lib/
/RubikCube/build/built-jar.properties
/RubikCube/data/
RubikCube/build/
RubikCube/dist/
RubikCube/lib/
RubikCube/build/built-jar.properties
RubikCube/data/
*.properties