/*
 * Empty Stylesheet file.
 */

*{
    -fx-base-color-root:radial-gradient(focus-distance 0% ,center 50% 50% , radius 50% , #222222, black);
    -fx-base-color-lbl-cuadro: white;
    -fx-base-color-lbl-modo: #018989;
    -fx-base-color-contraste: #018989;
    -fx-base-color-main-lbl: white;
    -fx-base-color-secundario: #222222;
}

#root{
    -fx-background-color: -fx-base-color-root;
}

.label{
    -fx-alignment: center;
    -fx-text-fill: -fx-base-color-main-lbl;
    -fx-border-width: 10px;
    -fx-font-size: 20px; 
}

.label-main{
    -fx-text-fill: -fx-base-color-main-lbl;
    
}

.sp-modo-juego-opciones{
    -fx-background-color: transparent;
    
}

.sp-modo-juego-opciones:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.lbl-modo-juego-opciones{
    -fx-text-fill: -fx-base-color-lbl-cuadro;
    -fx-font-size:15px;
    -fx-alignment: center;
}

.lbl-modo-juego-sub{
    -fx-font-size:30px;
    -fx-alignment: center;
     -fx-stroke-width:10px; 
     -fx-text-fill: -fx-base-color-contraste;
}

.tool-bar{
    -fx-background-color: transparent;
}

.jfx-button{
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: -fx-base-color-contraste;
}

.jfx-button-mov{
    -fx-text-fill: white;
}

.jfx-button-mov:hover{
    -fx-text-fill: black;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.hbox-sub-menu{
    -fx-background-color: -fx-base-color-secundario;
    -fx-opacity: 0.50;
    -fx-background-radius: 8,80;
}

.jfx-text-field{
    -fx-alignment: center;
    -fx-font-size:10px;
    -fx-background-color: transparent;
    -jfx-unfocus-color:white;
    -jfx-focus-color:-fx-base-color-contraste;
    -fx-text-fill:white;
    -fx-prompt-text-fill: -fx-base-color-contraste;     
}

.jfx-text-field:focused{
    -fx-text-fill:-fx-base-color-contraste;
    -fx-font-size:13px;
    -fx-prompt-text-fill: white;
}

.jfx-tab-pane
{
    -fx-side: top;
    -fx-background-color: transparent;
    /*-fx-tab-min-width:90px;*/
}

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-side: top;
    -fx-opacity:0;
    -fx-background-radius: 5%;
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab
{
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 30 30 30 30;
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab:hover{
    -fx-translate-y: -3;
}

.jfx-tab-pane .tab:selected
{
    -fx-background-color: transparent;
    -fx-traslate-x: 1.2;
    -fx-traslate-y: 1.2;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: transparent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.jfx-combo-box{
    -fx-base-color:transparent;
    -jfx-focus-color:transparent;
    -jfx-unfocus-color:transparent;
    -fx-text-fill:transparent;
    -fx-font-size:10px;
    -fx-text-fill: transparent;
    -fx-prompt-text-fill: transparent;
}

.jfx-combo-box:hover{
    -fx-color: transparent;
}

.jfx-combo-box .list-cell 
{
    -fx-background: transparent;
    -fx-background-color:transparent;
    -fx-text-fill: transparent;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.vbox-pasos{
    -fx-background-color: transparent;
}

.scroll-pane{
     -fx-background-color: transparent;
}

.scroll-bar:horizontal,.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,.scroll-bar:vertical .track{
    -fx-background-color: -fx-base-color-contraste;
}

.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-base-color-contraste;
    -fx-opacity:5;
    -fx-background-radius: 5em;
}

.anchor-pasos{
    -fx-background-color: transparent;
}

#card{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-base-color-contraste;
}

.list-cell { /* <=== changed to even */
    -fx-background-color: -fx-base-color-secundario;
    -fx-cell-size: 30;
    
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-background-color: -fx-base-color-secundario;
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}